body {
    background-color: #1E1E1E; /* Dark Background */
    color: #EFEFEF; /* Light Text Color */
    font-family: 'Courier New', monospace; /* Monospaced Font */
    margin: 0;
    padding: 0;
    text-align: left;
}

h1 {
    color: #4CAF50; /* Green Header */
}

p {
    line-height: 1.6;
    font-size: 16px;
}

a {
    color: #29B6F6; /* Blue Link Color */
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    margin-bottom: 20px; /* Add space between entries */
}

#toc {
    max-width: 600px;
    margin: 0 auto;
}

code {
    background-color: #2C2C2C; /* Dark Gray Code Background */
    color: #FF9800; /* Orange Code Color */
    padding: 2px 4px;
    border-radius: 4px;
    font-family: 'Courier New', monospace; /* Monospaced Font for Code */
}
